#content{
	text-align: center; 

	.woocommerce-ordering,
	.added_to_cart{
		display: none; 
	}

	#shipping_method li label{
		margin-left: 20px; 
	}

	#primary{
		@extend .container; 	
		@extend .p-container-padding;	

		.product img{
			-webkit-box-shadow: 12px 11px 16px 1px rgba(0,0,0,0.32);
			-moz-box-shadow: 12px 11px 16px 1px rgba(0,0,0,0.32);
			box-shadow: 12px 11px 16px 1px rgba(0,0,0,0.32);
		}

		.cart,
		.variations_button{
			display: inline-block; 
			margin-top: 15px; 
		}

		.label{
			color: #000;
		}

		.sku_wrapper{
			display: none; 
		}
	}

	#upper-sidebar{
		@extend .p-container-padding;
	}

	#lower-sidebar{
		@extend .p-container-padding; 
		background-color: $primary-color; 
		color: #fff; 
		text-align: center; 

		.variation{
			display: none; 
		}

		h1{
			text-decoration: underline; 
		}

		.total{
			//border-top: 3px solid #fff; 
			border-top: 0; 
			display: inline-block;
			border: 1px solid #fff;
			padding: 3px;
			border-radius: 3px;
		}

		.checkout{
			background-color: $secondary-color;
			color: #fff; 
		}
	}

	.checkout-button,
	.button.alt{
		background-color: $secondary-color;
		color: #fff; 
	}
	.button.alt:hover{
		box-shadow: none; 
	}

	.cart_list{
		@extend .clearfix; 
		display: block; 
	}

	.cart_list li{
		width: 150px;
		padding: 10px;

		//float: left; 

		display: inline-block; 

		img{
			width: 100%;
			height: auto; 
		}
	}

	a{
		color: $secondary-color; 
	}

}